/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.last-arrow-link img {
  width: 40px;
  position: absolute;
  bottom: 20px;
}

#last-weapons {
  width: 100%;
  background-color: $color_01;
}

.black-color {
  color: black;
}

.feature-img {
  height: 150px;
}
