#list-bookings-made-by-me {
  color: $black;
  text-align: left;
  padding: 10px 20px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#link {
  text-decoration: none;

}
