
#top-wrapper {
  text-align: center;
}

#filters label {
  background-color: $color_01;
  color: white;
  height: 40px;
  cursor: pointer;
  text-align: center;
  margin: -4px;
  font-weight: 300;
  line-height: 40px;
  padding-left: 6px;
  padding-right: 6px;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  &:hover {
    background: #E1E1E1;
    color: #232323;
  }
}

.query-label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#max-price, #min-price {
  max-width: 120px;
}

#filters input, select {
  background-color: $color_02;
  transition: box-shadow 0.2s ease-in-out;
  border: 0;
  padding: 4px;
  margin: 0;
  height: 40px;
}

#filters input:focus, select:focus {
  outline: none;
  border: 0;
  box-shadow: inset 0 0 0 5px #FFC519;
}

select {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

#filters .btn {
  text-transform: uppercase;
  font-size: 1.1rem !important;
  height: 40px;
  border: 0;
  background: $orange;
  color: white;
  font-weight: 600;
  transition: background 0.25s ease-in-out;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  vertical-align: top !important;
  margin-left: -6px;
}

#filters .btn:hover,
#filters .btn:focus,
#filters .btn:active {
  outline: 0;
  background: #FFC519;
  color: #232323;
}

#filters .btn:active {
  transform: translateY(1px);
}

#weapons-list {
  margin-top: 20px;
}
