<div class="wrapper">
  <div class="container">
    <h2 class="title">Booking details</h2>
    <div class="row col-xs-12 card">
      <h4>Starting date: </h4>
      <h4>Ending date: </h4>
      <h4>Price per day: </h4>
      <h4>Total price: </h4>
      <br>
    </div>
    <div class="row col-xs-12 card">
      <p>
        <a href="#" class="btn-treehouse">Send booking</a>
      </p>
    </div>
  </div>
</div>
