<div class="container text-center">
  <%= render 'account/tab-menu', dashboard_class: "tab active" %>
</div>

<div class="container text-center">
  <div class="tab-content" id="dashboard">
    <h2>Welcome <%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
    <p>This is my dashboard.</p>
    <p>I have X weapons annonces online</p>
    <p>X of them are actually booked, X others are availables</p>
    <p>X new demands since last connection</p>
    <p>X demands to process</p>
    <p>I have booked X weapons</p>
    <p>I am still waiting for X confirmations</p>
  </div>
  <div class="tab-content hidden" id="weapons">
    <p>Here are my weapons.</p>
  </div>
  <div class="tab-content hidden" id="booksforme">
    <p>All the bookings I made</p>
  </div>
  <div class="tab-content hidden" id="booksbyme">
    <p>All the bookings they made</p>
  </div>
  <div class="tab-content hidden" id="settings">
    <p>Set the control to the heart of the sun</p>
  </div>
</div>

<!-- To activate if we can do everything on time before, code in js file commented as well -->
<!-- <%= javascript_include_tag 'tabs' %> -->
