<% content_for :title, "Lord of War - My profile" %>

<div class="container text-center">
  <div class="tabs">
    <a class="tab active"  data-target="#dashboard">
      <p>Dashboard</p>
    </a>
    <%= link_to account_weapons_path, class: "tab", :data => { :target => "#weapons" } do %>
      <p>My weapons</p>
    <% end %>
    <a class="tab"  data-target="#booksforme">
      <p>Books for me</p>
    </a>
    <a class="tab"  data-target="#booksbyme">
      <p>Books by me</p>
    </a>
    <%= link_to account_profile_edit_path, class: "tab", :data => { :target => "#settings" } do %>
      <p>Settings</p>
    <% end %>
  </div>
</div>

<div class="container text-center">
  <div class="tab-content" id="dashboard">
    <br/>
    <h2>Welcome <%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
    <p>This is my dashboard.</p>
    <p>I have X weapons annonces online</p>
    <p>X of them are actually booked, X others are availables</p>
    <p>X new demands since last connection</p>
    <p>X demands to process</p>
    <p>I have booked X weapons</p>
    <p>I am still waiting for X confirmations</p>
  </div>
  <div class="tab-content hidden" id="weapons">
    <p>Here are my weapons.</p>
  </div>
  <div class="tab-content hidden" id="booksforme">
    <p>All the bookings I made</p>
  </div>
  <div class="tab-content hidden" id="booksbyme">
    <p>All the bookings they made</p>
  </div>
  <div class="tab-content hidden" id="settings">
    <p>Set the control to the heart of the sun</p>
  </div>
</div>

<!-- To activate if we can do everything on time before, code in js file commented as well -->
<!-- <%= javascript_include_tag 'tabs' %> -->
