.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  max-width: 300px;
  position: relative;
  border-radius: 4px;
  margin: 10px;
}
.card-img {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}
.card-price {
  position: absolute;
  background-color: $color_01;
  border-radius: 50%;
  padding: 4px;
  bottom: 27px;
  right: -4px;
}
.card-title {
  background-color: $color_01;
  text-align: center;
}
